include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include MANIFEST.in
include README.rst

include dev-requirements.txt
include docs-requirements.txt
include requirements.txt

include hutch_python/_version.py
include hutch_python/templates/*
include hutch_python/logging.yml
include hutch_python/cookiecutter/*
include hutch_python/cookiecutter/*/*
include hutch_python/cookiecutter/*/*/*
