archapp>=1.0.2
bluesky>=1.8.0
coloredlogs>=15.0.0
cookiecutter>=1.7.0
happi>=1.9.0
ipython>=7.26.0
jinja2>=2.11.0
lightpath>=1.0.1
matplotlib>=3.4.0
nabs>=1.5.0
pcdscalc>=0.3.0
pcdsdaq>=2.3.0
pcdsdevices>=7.0.0
pcdsutils>=0.5.0
psdaq-control-minimal
pyfiglet>=0.8.0
pyqt5
pyyaml>=5.4.0
requests>=2.26.0
simplejson>=3.17.0

# Some are unavailable on pypi:
# elog

# Some are broken on pypi:
# psdm_qs_cli
